.container{
  margin-bottom: 100px;
}
.buy-now-btn{
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 700;
}

.box{
  width: 100px;
  height: 6px;
  /* background-color: orange; */
  background-image: linear-gradient(to right, lightsalmon 0%, tomato 100% );
  border-radius: 5px;
}

