body{
  font-family: 'Poppins', sans-serif;
}
.slide-area{
  margin-top: 150px;
}
.slide-area, .smartphone-area, .laptop-area, .category-area{
  margin-bottom: 100px;
}

.buy-now-btn{
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 700;
  cursor: pointer;
}
/* carousel */
.carousel-indicators li{
  background-color: grey;
  width: 15px;
  height: 10px;
  border: none;
  border-radius: 15px;
}
.carousel-indicators li.active{
  width: 45px;
  background-image: linear-gradient(to right, darkorange, orange);
}

.box{
  width: 100px;
  height: 6px;
  /* background-color: orange; */
  background-image: linear-gradient(to right, lightsalmon 0%, tomato 100% );
  border-radius: 5px;
}
